$backgroundColor: #ffffff;
$secondaryColor: #005a4a;
$fontColor: #005a4a;
$fontColor: #005a4a;
$accent: #17f18b;


$primaryColor: white;
$secondaryColor: #005a4a;

$accent: #f1c517;


$defaultFont: 'Lato',
sans-serif;
$normalWeight:300;
$boldWeight:700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
